.item {
    height: 40px;
    width: 40px;
    border: 1px solid #221D23;
    border-radius: 5px;
    display: inline-block;
    padding: 3px;
    margin: 10px 10px 0px 0px;
    box-shadow: .5px .5px 2px #221D23;
}

.item:hover {
    box-shadow: .5px .5px 10px #221D23;
}

.a:selected {
    box-shadow: .5px .5px 10px #5DA271;
}

.image {
    height: 40px;
    width: 40px;
    object-fit: contain;
}