@font-face {
  font-family: 'Bebas Neue';
  src: url(https://fonts.gstatic.com/s/bebasneue/v9/JTUSjIg69CK48gW7PXoo9Wlhyw.woff2) format('woff2');
}

.container {
    width: 1280px;
    margin: auto;
    background-color: white;
    padding: 0px 20px 20px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #221D23;
    border-radius: 25px;
}

.title {
    text-align: center;
    font-family: 'Bebas Neue';
    font-size: 72px;
    margin: 30px;
}

.selectionContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
}

body{
    background-image: url("background.png");
}