.characterContainer {
    width: 25%;
}

.characterTitleContainer {
    border: 2px solid #221D23;
    border-radius: 5px;
    text-align: center;
    margin-right: 40px;
    font-size: 20px;
    font-family: 'Bebas Neue';
}

@media only screen and (max-width: 1350px) {
    .characterContainer {
        width: 100%;
    }
    
    .characterTitleContainer {
        margin-right: 70px;
        margin-left: 70px;
    }
}