.statisticsContainer {
    width: 40%;
    margin: auto;
    margin-top: 50px;
}

.statisticsTitleContainer {
    border: 2px solid #221D23;
    border-radius: 5px;
    text-align: center;
}

.selection {
    text-align: center;
}

.landSpeedStat {
    width: 60%;
    border: 2px solid #197278;
    height: 10px;
    border-radius: 20px;
    background-color: #C4B7CB;
    margin-bottom: 2px;
}


.waterSpeedStat {
    width: 80%;
    border: 2px solid #197278;
    height: 10px;
    border-radius: 20px;
    background-color: #BBC7CE;
    margin-bottom: 2px;
}

.airSpeedStat {
    width: 100%;
    border: 2px solid #197278;
    height: 10px;
    border-radius: 20px;
    background-color: #BFEDEF;
    margin-bottom: 2px;
}

.antiGravitySpeedStat {
    width: 20%;
    border: 2px solid #197278;
    height: 10px;
    border-radius: 20px;
    background-color: #98E2C6;
    margin-bottom: 2px;
}

.accelerationStat {
    width: 50%;
    border: 2px solid #197278;
    height: 10px;
    border-radius: 20px;
    background-color: #545C52;
    margin-bottom: 2px;
}

.weightStat {
    width: 30%;
    border: 2px solid #197278;
    height: 10px;
    border-radius: 20px;
    background-color: #D4F2DB;
    margin-bottom: 2px;
}

.landHandlingStat {
    width: 10%;
    border: 2px solid #197278;
    height: 10px;
    border-radius: 20px;
    background-color: #CEF7A0;
    margin-bottom: 2px;
}

.waterHandlingStat {
    width: 70%;
    border: 2px solid #197278;
    height: 10px;
    border-radius: 20px;
    background-color: #BA9790;
    margin-bottom: 2px;
}

.airHandlingStat {
    width: 90%;
    border: 2px solid #197278;
    height: 10px;
    border-radius: 20px;
    background-color: #914D76;
    margin-bottom: 2px;
}

.antiGravityHandlingStat {
    width: 100%;
    border: 2px solid #197278;
    height: 10px;
    border-radius: 20px;
    background-color: #69353F;
    margin-bottom: 2px;
}

.tractionStat {
    width: 36%;
    border: 2px solid #197278;
    height: 10px;
    border-radius: 20px;
    background-color: #C1AE7C;
    margin-bottom: 2px;
}

.miniTurboStat {
    width: 69%;
    border: 2px solid #197278;
    height: 10px;
    border-radius: 20px;
    background-color: #E16F7C;
    margin-bottom: 2px;
}