.statisticsContainer {
    width: 40%;
    margin: auto;
    margin-top: 50px;
}

.statisticsTitleContainer {
    border: 2px solid #221D23;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    font-family: 'Bebas Neue';
}

.selection {
    text-align: center;
}

.landSpeedStat {
    height: 10px;
    background-color: #28587B;
    margin-bottom: 2px;
    transition: 2s ease;
}

.waterSpeedStat {
    height: 10px;
    background-color: #3d6888;
    margin-bottom: 2px;
    transition: 2s ease;
}

.airSpeedStat {
    height: 10px;
    background-color: #527995;
    margin-bottom: 2px;
    transition: 2s ease;
}

.antiGravitySpeedStat {
    height: 10px;
    background-color: #688aa2;
    margin-bottom: 2px;
    transition: 2s ease;
}

.accelerationStat {
    height: 10px;
    background-color: #a9bcca;
    margin-bottom: 2px;
    transition: 2s ease;
}

.weightStat {
    height: 10px;
    background-color: #a9bcca;
    margin-bottom: 2px;
    transition: 2s ease;
}

.landHandlingStat {
    height: 10px;
    background-color: #28587B;
    margin-bottom: 2px;
    transition: 2s ease;
}

.waterHandlingStat {
    height: 10px;
    background-color: #3d6888;
    margin-bottom: 2px;
    transition: 2s ease;
}

.airHandlingStat {
    height: 10px;
    background-color: #527995;
    margin-bottom: 2px;
    transition: 2s ease;
}

.antiGravityHandlingStat {
    height: 10px;
    background-color: #688aa2;
    margin-bottom: 2px;
    transition: 2s ease;
}

.tractionStat {
    height: 10px;
    background-color: #a9bcca;
    margin-bottom: 2px;
    transition: 2s ease;
}

.miniTurboStat {
    height: 10px;
    background-color: #a9bcca;
    margin-bottom: 2px;
    transition: 2s ease;
}

.percentages {
    display: flex;
    justify-content: space-between;
    margin-bottom: -10px;
}

p {
    display: inline;
    font-size: 12px;
}

h3 {
    margin-bottom: -5px;
    margin-top: 30px;
}